.container {
  @extend %container;
}

.portfolio {
  padding: 94px 0;
}

.portfolio__list {
  display: flex;
  justify-content: center;
  gap: 9px;
  margin-bottom: 50px;
}

.portfolio__button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: $light-gray-background;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border-style: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover, &:focus {
    color: $white-main;
    background-color: $blue-main;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
  }
}

