.project {
  @extend %ul;
  flex-wrap: wrap;
}

.project__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover, &:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}


.project__link:hover .project__modal {
  transform: translateY(0);
}

.project__link:focus .project__modal {
  transform: translateY(0);
}


.project__link:hover .project__text {
  opacity: 1;
}

.project__link:focus .project__text {
  opacity: 1;
}

.project__wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.project__info {
  padding: 20px 24px;
  border: 1px solid $light-gray-border;
  border-top: none;
  background-color: $white-main;
}

.project__title {
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.project__subtitle {
  font-size: 16px;
  line-height: 1.87;
  color: $gray-substring;
}

.project__modal {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $transparent-blue;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__text {
  position: absolute;
  opacity: 0;
  font-size: 18px;
  color: $white-main;
  padding: 63px 24px;
  line-height: 1.55;
}
