.footer {
  background-color: $gray-background;
  padding: 60px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }
  @media (max-width: 767px) {
    align-items: center;
  }

}
