.footer {
  background-color: $gray-background;
  padding: 60px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
