.header {
  border-bottom: 1px solid $header-gray-border;
  padding: 22px 0;
  @media screen and (min-width: 768px) {
    padding: 16px 0 ;
  }  @media screen and (min-width: 1200px) {
    padding: 21px 0 ;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
